html, body{
    font-family: ('Times');
    margin: 0;
    background-color: rgb(4,2,23);
    }
    header{
    background: url('3.jpg') ;
    padding: 40px;
    text-align: center;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    h1{
    font-size: 70px;
    color: rgb(213, 111, 212);
    padding-top: 190px;
    padding-left: 300px;
    text-align: left;
    text-shadow: 2px 2px 5px rgb(197, 79, 195);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    }
    header img{
    border-radius: 174px;
    width: 260px;
    height: 250px;
    border: 10px solid rgb(103,67,154);
    position: absolute;left: 50px;right: 100px;top: 170px;bottom: 100px;
    max-width: 100%;
    max-height: 100%;
    }
    .content{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
    font-size: 20px;
    color: rgb(237,149,236);
    }
    img.big-image{
    
    max-width: 100%;
    }
    p.cap3on{
    font-size: 16px;
    color: rgb(156, 151, 151);
    font-style: italic;
    }
    ul{
    list-style: none;
    padding: 0;
    margin: 0;
    }
    a{
    color: rgb(237,149,236);
    text-decoration: none;
    }
    .container ul li {
            list-style: none;
            padding: 10px 30px;
            background-image: url(8.jpg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px;
            margin-left: 20px;
        }
    footer{
    margin-top: 10px;
    padding: 20px 20px;
    background-color: rgb(253,224,255);
    }
    footer ul{
    text-align: center;
    }
    footer ul li{
    margin: 0 5px;
    }
    footer img{
        margin-top: 10px;
    }
    .card {
        box-shadow: 7px 7px 0 0 rgba(10, 46, 227, 0.4);
        transition: 0.3s;
        width:90%;
        height: 390px ;
        padding-right: 10px;
        border-radius: 10px;
        background: transparent;
        border-style: solid;
        border-color: rgb(10,47,227);
        
      }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 50px;
        
    }
    .card p{
        padding-left: 13px;
        text-indent: 40px;
    }
    .card h2{
        padding-left: 10px;
    }
    .img2{
    max-width: 100%;
    filter: drop-shadow(7px 7px 5px);
}
.container2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.card2 {
    background-color: rgba(25, 21, 137, 0.411);
    width: 180px;
    border-radius: 5%;
    margin: 20px;
    border-style: solid;
    border-color: rgb(213,111,212);
    filter: drop-shadow(7px 7px 5px rgb(213,111,212) );

}
.card2:hover{
    transform: scale(1.1);
}
.card2 img{
    height: 300px;
    width: 177px;
    filter: grayscale(100%);
    border-radius:5%;
}
.card2:hover img{
    filter: grayscale(0%);
    transform: scale(1.1);
}



a img{
    filter: grayscale(100%);
    height: 40px;
    width: 40px;
}
a img:hover{
    filter: grayscale(0%);
}
.card2 p{
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.p1 {
    color: rgb(226, 7, 255);
}

.p2 {
    color: rgb(255, 187, 2);
}

.p3{
    color: rgb(255, 187, 2);
}
